{% extends 'layout.html' %}

{% block home %}
<form class="form-default">
    <div class="shopping-cart">
      <div class="title">
          About Application
      </div>
        <div class="item">
          Basic E-Commerce Web Application which allows buying and selling of products present as part of the "Products List".
          Each Product is owned by a particular "Owner", and Products change ownership through transactions.
          Product details and Users are added through admin operations.
        </div>
    </div>
    <div class="shopping-cart">
        <div class="title">
            About Authors
        </div>
        <div class="item">
          <div class="image">Sonali Naidu</div>
          <div class="image">Masters in Computer Science</div>
          <div class="image">State University of New York at Buffalo</div>
        </div>
        <div class="item">
          <div class="image">Pratibha Kandimalla</div>
          <div class="image">Masters in Computer Science</div>
          <div class="image">State University of New York at Buffalo</div>
        </div>
      </div>
  </form>
{% endblock %}