{% extends 'layout.html' %}

{% block home %}
<form class="form-default">
  <div class="shopping-cart">
    <div class="title">
        Contact Details
    </div>
    <div class="item">
      <div class="image">Sonali Naidu</div>
      <div class="image">sonaliye@buffalo.edu</div>
      <div class="image">https://www.linkedin.com/in/sonali-naidu-888b78aa/</div>
    </div>
    <div class="item">
      <div class="image">Pratibha Kandimalla</div>
      <div class="image">pkandima@buffalo.edu</div>
      <div class="image"></div>https://github.com/pkandima</div>
    </div>
  </div>
</form>
{% endblock %}